/**
* @file
* Page Styling
*
* Style the markup found in page.tpl.php. Also includes some styling of
* miscellaneous Drupal elements that appear in the $content variable, such as
* ul.links, .pager, .more-link, etc.
*/


/*
* Body
*/

body {
margin: 0;
padding: 0;
background: url("../images/roseton.png") no-repeat fixed 175px 100px transparent;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-style: normal;
font-weight: normal;
}

#page {
}

/*
* The skip-link link will be completely hidden until a user tabs to the link.
* See the element-focusable rule in system.base.css.
*/

#skip-link {
margin: 0;
}
#skip-link a,
#skip-link a:visited {
display: block;
width: 100%;
padding: 2px 0 3px 0;
text-align: center;
background-color: #666;
color: #fff;
}

/*
* Header
*/

#header {
}

#logo { /* Wrapping link for logo */
float: left; /* LTR */
margin: 0;
padding: 5px;
position: relative;
top: 1.4em;
left: -3.1em;
}

#logo img {
vertical-align: bottom;
}

#name-and-slogan { /* Wrapper for website name and slogan */
float: left;
text-align: center;
margin-left: auto;
margin-right: auto;
position: relative;
top: 1.4em;
left: -2.5em;
}

#site-name { /* The name of the website */
margin: 0;
font-size: 2.9em;
letter-spacing: 0.1em;
line-height: 1.5em;
}
#site-name a:link,
#site-name a:visited {
color: #000;
text-decoration: none;
}
#site-name a:hover,
#site-name a:focus {
text-decoration: underline;
}

#site-slogan { /* The slogan (or tagline) of a website */
font-family: josefin-sans;
font-weight: lighter;
position: relative;
top: -.4em;
margin: 0;
font-size: 1.5em;
color: grey;
line-height: 1.9em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
clear: both; /* Clear the logo */
}

/*
* Main (container for everything else)
*/

#main {
/* min-width: 952px; */
}

/*
* Content
*/

h1#page-title {
font-size: 2.0em; /* 2.5 */
letter-spacing: 0.1em; /*3.0 */ 
color: #A62F00;
opacity: 0.5;
position: relative;
top: -0.1em;
}

#content {
/* min-width: 695px; */
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
}
.breadcrumb ol {
margin: 0;
padding: 0;
}
.breadcrumb li {
display: inline;
list-style-type: none;
/* margin: 0; margin can't be used with display: inline */
padding: 0;
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
margin: 0;
}

h2 {
font-family: josefin-sans;
margin-bottom: 0em;
font-weight: 500;
color: #808080;
font-size: 2.1em;
}

p {
margin-top: 0em;
}

p.text-header {
font-family: "de-walpergens-pica";
font-size: 1.3em;
}

.collapsible a.fieldset-title {
font-family: "de-walpergens-pica";
font-size: 1.3em;
color: #808080;
}

p#via-artis-link {
position: relative;
top: -0.4em;
font-family: josefin-sans;
font-size: 1.1em;
}

.media-soundcloud-outer-wrapper {
margin-bottom: 20px;
}

tr.even { /* Some tables have rows marked even or odd. */
/* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
/* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}
div.messages ul {
margin-top: 0;
margin-bottom: 0;
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
/* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
/* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
/* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
display: inline;
padding: 0;
}
ul.inline li {
display: inline;
list-style-type: none;
padding: 0 1em 0 0; /* LTR */
}

span.field-label { /* The inline field label used by the Fences module */
padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
padding: 0;
}
.item-list .pager li { /* Each page number in the pager list */
padding: 0 0.5em;
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}


/*
* First sidebar (on left in LTR languages, on right in RTL)
*
* Remember to NOT add padding or margin to your .region-sidebar-first
* (see the layout.css file.)
*/

.region-sidebar-first {
}

/*
* Second sidebar (on right in LTR languages, on left in RTL)
*
* Remember to NOT add padding or margin to your .region-sidebar-second
* (see the layout.css file.)
*/

.region-sidebar-second {
}

/*
* Footer
*/

#footer {
}

/*
* Page bottom
*/

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}

#collapse-text-background {
position: absolute;
background-color: #808080;
opacity: 0.2;
height: 95%;
width: 659px;
}

#collapse-text-text {
position: relative;
z-index: 5;
padding: 1.5em;
padding-top: 2em;
}

fieldset.collapse-text-fieldset {
border: 0px;
margin: 0;
}

a.translation-link {
visibility: hidden;
}

/* ------------------------------------------------------------------ */
/* From here a list of pages */


/* Art of Touch page */

article.node-page {
position: relative;
top: -0.8em;
}

.collapse-text-fieldset h2 {
font-size: 1.4em;
margin-top: 0em;
line-height: 1.5em;
}


/* Concert page */

#concert_programs-block p {
margin: 0em;
}

.date-venue-concert-page {
position: relative;
top: -1.5em;
}

.download-pdf-concert-page {
position: relative;
top: -1.5em;
}


.trans-back-concert-pageX {
background-color: #000000;
height: 210px;
left: 16px;
opacity: 0.6;
position: absolute;
top: 800px;
width: 648px;
z-index: 10;
}

.views-field-field-program-element{
position: relative;
left: 4px;
padding: 2em; padding-left: 0.5em; padding-right: 3.2em;
background-color: black;
opacity: 0.6;
} 

#concert_programs-block .item-list {
left: 4px;
padding: 2em; padding-left: 0.5em; padding-right: 3.2em;
background-color: black;
opacity: 0.6;
}

#concert_programs-block .item-list p {
position: relative;
top: -0.5em;
color: white;
}

.views-field-field-program-element .item-list {
position: relative;
top: -0.5em;
}

.views-field-field-program-element p {
color: white;
}


/* Participants page */

body.section-participants #block-views-musician-cv-block, #block-views-musician-cv-block-1 {
position: relative;
top: -1.9em;
}

body.section-participants .views-slideshow-pager-fields {
position: relative;
left: 535px;
top: 50px;
width: 150px;
z-index: 3;
}

body.section-participants .views_slideshow_main {
display: block;
width: 600px;
position: relative;
top: -210px;
left: 20px;
}

.views-slideshow-cycle-main-frame-row-item .views-field-title {
/* Necessary to expand the in-line width by jquery */
width: 530px;
}

.views-field-field-cv-text {

}

.cv-title-transparent {
background-color: green;
height: 34px;
left: -0px;
opacity: 0.4;
position: relative;
top: -40px;
width: 250px;
z-index: 3;
}

.cv-title {
font-family: josefin-sans, sans-serif;
font-size: 1.4em;
color: white;
font-weight: 600;
position: relative;
top: -35px;
left: 25px;
z-index: 4;
}

/* .flexslider .slides img {width: auto; display: block;} */

.views-field-field-cv-text {
position: relative;
top: -0em;
height: 30em;
width: 33em;
}

.views-field-field-cv-text .collapse-text-background {
margin-left: -16px;
position: absolute;
background-color: #808080;
opacity: 0.2;
width: 505px;
height: 95%;
}

.views-field-field-cv-text .collapse-text-text {
padding-top: 0em;
}

.section-participants .book-navigation {
position: relative;
top: 5em;
margin-bottom: 50px;
}

.collapse-text-text ul {
font-family: 'EB Garamond';
font-style: normal;
font-weight: normal;
}

.section-participants .collapse-text-text {
width: 510px;
padding-top: 0em;
}

.section-participants .fieldset-wrapper .collapse-text-text {
width: 460px;
padding-top: 1.5em;
padding-left: 0.5em;
padding-bottom: 0.5em;
}

.section-participants .fieldset-wrapper {
position: relative;
top: -1.5em;
}

/* Recordings page */



.view-cd-slideshow {
position: relative;
top: -1.2em;
}


.views-content-field-front-cover-thumbnail img {
border: 1px solid #808080;
}

.section-recordings .views-slideshow-pager-fields {
position: relative;
left: 537px;
top: 54px;
width: 150px;
z-index: 3;
}

.section-recordings .views-slideshow-cycle-main-frame {
display: block;
width: 600px;
position: relative;
top: -213px;
left: 20px;
}

.section-recordings .views-slideshow-cycle-main-frame img {
border: 1px solid #808080;
}

p.cd-slideshow-tekst {
position: relative;
top: 2.5em;
width: 510px;
}

#cd-title-background-transparent {
position: absolute;
top: -3px;
left: 0px;
background-color: black;
height: 29px;
opacity: 0.4;
width: 509px;
z-index: 3;
}

#cd-title {
font-family: josefin-sans, sans-serif;
font-size: 1.4em;
color: white;
font-weight: 600;
position: relative;
top: -0px;
left: 30px;
width: 400px;
z-index: 4;
}

#cd-link {
position: relative;
top: 2em;
}

.views-field-field-cd-link a {
font-style: italic;
color: black;
}

.section-recordings .book-navigation {
position: relative;
top: -200px;
}

/* Video page */

.section-video article.node-page {
position: relative;
top: -1em;
}

#block-views-video-index-block table td {
}

.views-field-field-video-link img {
border: 1px solid #808080;
margin-right: 7px;
}

.video-index-title {
position: absolute;
top: 124px;
left: 7px;
z-index: 4;
color: white;
-o-text-overflow: ellipsis;   /* Opera */
text-overflow:    ellipsis;   /* IE, Safari (WebKit) */
overflow:hidden;              /* don't show excess chars */
white-space:nowrap;           /* force single line */
width: 180px; /* fixed width */
font-size: 0.7em;
} 

.video-index-title a:link {
color: white;
}

.field-content {
position: relative;
} 

.video-index-title-background-transparent {
background-color: green;
height: 19px;
left: -0px;
opacity: 0.6;
position: absolute;
top: 128px;
width: 194px;
z-index: 3;
}

.view-video-index .views-field-title {
height: 0em;
}

.section-video .field-items {
position: relative;
top: 2em;
left: 15px;
}

.section-video .book-navigation {
position: relative;
top: 5em;
}

.section-video .text-header	{
width: 30em;
}


/* Press page */

.section-press article.node-page {
position: relative;
top: -1em;
left: 15px;
}

#photo-gallery-block {
width: 600px;
height: 100%;
}

#text-gallery-block {
width: 600px;
font-family: 'EB Garamond';
font-style: normal;
font-weight: normal;
}


.view-press-photo-gallery {

}

.view-press-photo-gallery .views-row {
width: auto;
float: left;
}

#text-gallery-block a{
color: #808080;
}

#text-gallery-block .views-row-first {
position: relative;
clear: both;
top: 1em;
}


.section-press .field-items {
position: relative;
top: 2em;
}

.section-press .text-header	{
width: 30em;
}


.view-press-photo-gallery .views-row {
margin-right: 4px;
}

.view-press-photo-gallery .views-field-field-text-image  {
margin-left: 3px;
}

/* Blog page */

.section-blog .view-frontpage {
position: relative;
top: -0.55em;
left: 20px;
}

article.node-teaser {
border-bottom: 1px solid #808080;
width: 37em;
}

article.node-teaser h2.node-title a {
color: #808080;
font-size: 0.8em;
} 

article.node-teaser a {
color: #808080;
}    

article.node-teaser .field-name-field-video-link {
margin-left: 15px;
}

article.node-teaser	.field-name-field-video-text {
width: 35em;
margin-top: 1.5em;
}

.section-blog a.translation-link {
visibility: visible;
}

.section-blog p#teaser-text {
font-family: 'EB Garamond';
font-style: normal;
font-size: 1em;
font-weight: normal;
}


/* Contact page */

.section-contact article.node-page {
position: relative;
top: -1.9em;
}

#contact-text {
width: 40em;
}

#contact-text a {
color: #808080;
}

#contact-denmark {
width: 20.5em;
border-right: 1px solid #808080;
margin-right: 40px;
float: left;
}

#contact-spain {

}

#contact-header {
text-decoration: underline;
margin-bottom: 1em;
position: relative;
top: 0.7em;
}

#contact-page {
position: relative;
top: 2em;
margin-bottom: 7em;
}

/* Single video page */

.section-video .node-video-page {
position: relative;
top: -2.65em;
}

.node-type-video-page p#via-artis-link {
position: relative;
top: -0.0em;
}

.node-type-video-page #page-title {
position: relative;
font-size: 1.7em;
letter-spacing: 0.1em;
}

.node-type-video-page .media-youtube-video {
position: relative;
top: 2.5em;
}

.node-type-video-page .field-name-field-video-text {
position: relative;
top: 4em;
left: 0.7em;
width: 580px;
margin-bottom: 2em;
}

.field-name-field-video-text a {
color: #808080;
}

/* Index of pages */
.section-index-of-pages p {
font-family: "de-walpergens-pica", serif;
font-size: 1.3em;
}

.section-index-of-pages .node-book {
position: relative;
top: 3.7em;
}

.book-navigation .leaf {
font-family: 'EB Garamond';
font-style: normal;
font-weight: normal;
font-size: 140%;
}

.book-navigation .leaf a {
color: #808080;
}

/* Press text page */

.node-type-press-text #page-title {
font-size: 1.7em;
letter-spacing: 0.1em;
position: relative;
}

.node-type-press-text .field-name-field-downloadable-text {
font-family: 'EB Garamond';
font-style: normal;
font-weight: normal;
}

.node-type-press-text .field-name-field-downloadable-text a {
color: #808080;
}


/* Post page */
.node-type-post #page-title {
font-size: 1.7em;
letter-spacing: 0.1em;
position: relative;
top: 0.15em;
}

p#subtitle {
font-family: josefin-sans;
font-size: 1.1em;
position: relative;
top: -1.3em;
}

p#teaser-text {
font-family: "de-walpergens-pica";
font-size: 1.3em;
width: 31em;
position: relative;
left: 0.7em;
}


h2#section-title {
font-size: 1.5em;
}

.section-post .node-post {
position: relative;
top: 1.5em;
padding-bottom: 6em;
}

.section-post #text-background {
background-color: #808080;
opacity: 0.1;
position: absolute;
left: 0em;
top: -0.5em;
width: 650px;
height: 105%;
margin-top: -15px;
z-index: -10;
}

.section-post .field-type-text-long {
position: relative;
top: 2em;
width: 37em;
padding-left: 1.2em;
padding-bottom: 1.5em;

}

p#body-text, #bc-player, #section-title {
padding-left: 15px;
}

#bc-player {
z-index: 10;
}

.section-post h2#section-title {
color: #696969;
}

/*
Media queries for iPad */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
	.region.region-sidebar-second.column.sidebar {
		display: none /* Don't show the sidebar in portrait */
	}
	#page {
		margin-left: 25px;
		margin-right: 25px;
		min-width: 760px; /* 910, 952px */
	}
	#main-menu-transparent {
		max-width: 45.7em;
	}
	#name-and-slogan {
		margin-left: -4em;
		}
		
	.view.view-video-index { /* Prevent wrong scaling by iPad */
		min-width: 675px;
		}
	.section-video .book-navigation {
		min-width: 675px;
		}	
	article.node-page {
		min-width: 675px;
		}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
	#page {
		margin-right: 25px;
		min-width: 760px; /* 910, 952px */
	}

}




