.fontyourface-2565 { font-family: 'EB Garamond'; font-style: normal; font-weight: normal; }
.fontyourface-2823 { font-family: 'Italiana'; font-style: normal; font-weight: normal; }
.fontyourface-2834 { font-family: 'Josefin Sans'; font-style: normal; font-weight: 100; }
