<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Zen Grids: sample usage</title>
  <link rel="stylesheet" href="stylesheets/styles.css" media="all">
</head>
<body>

<p class="skip-link">
<a href="#main-menu" class="skip-link__link">Jump to main menu</a>
</p>

<div class="centered">

  <header class="header">
    <h1 class="header__title">Zen Grids: sample usage</h1>
  </header>

  <div class="main">

    <article class="grid-item grid-item__content" role="main">
      <header>
        <h1>Main content</h1>
        <p>Source order: 1</p>
      </header>
      <aside class="pull-quote">’ÄòThere’Äôs no such thing!’Äô</aside>
      <p>Alice did not quite know what to say to this: so she helped herself to some tea and bread-and-butter, and then turned to the Dormouse, and repeated her question. ’ÄòWhy did they live at the bottom of a well?’Äô</p>
      <p>The Dormouse again took a minute or two to think about it, and then said, ’ÄòIt was a treacle-well.’Äô</p>
      <p>’ÄòThere’Äôs no such thing!’Äô Alice was beginning very angrily, but the Hatter and the March Hare went ’ÄòSh! sh!’Äô and the Dormouse sulkily remarked, ’ÄòIf you can’Äôt be civil, you’Äôd better finish the story for yourself.’Äô</p>
      <p>’ÄòNo, please go on!’Äô Alice said very humbly; ’ÄòI won’Äôt interrupt again. I dare say there may be ONE.’Äô</p>
    </article>

    <nav class="grid-item grid-item__menu" role="navigation" id="main-menu">
      <header>
        <h2>Menu</h2>
        <p>Source order: 2</p>
      </header>
      <a href="#">Alice</a> ’òÖ
      <a href="#">Mad Hatter</a> ’òÖ
      <a href="#">The Queen</a> ’òÖ
      <a href="#">Tom Petty</a>
    </nav>

    <aside class="grid-item grid-item__aside1">
      <header>
        <h2>Aside</h2>
        <p>Source order: 3</p>
      </header>
      <p>’ÄòHave some wine,’Äô the March Hare said in an encouraging tone.</p>
    </aside>

    <aside class="grid-item grid-item__aside2">
      <header>
        <h2>Aside</h2>
        <p>Source order: 4</p>
      </header>
      <p>’ÄòPlease would you tell me,’Äô said Alice, a little timidly, for she was not quite sure whether it was good manners for her to speak first, ’Äòwhy your cat grins like that?’Äô</p>
      <p>’ÄòIt’Äôs a Cheshire cat,’Äô said the Duchess, ’Äòand that’Äôs why. Pig!’Äô</p>
    </aside>

  </div>

  <footer class="footer">
    <small>¬© 2013. The small print.</small>
  </footer>

</div>

</body>
</html>
