/* line 3, ../../sass/user_contrib/recordings-page.scss */
.section-recordings .view-cd-slideshow {
  position: relative;
  top: -5.2em;
  left: 0em;
  max-width: 100%;
}
/* line 10, ../../sass/user_contrib/recordings-page.scss */
.section-recordings .views-content-field-front-cover-thumbnail img {
  border: 1px solid #808080;
}
/* line 14, ../../sass/user_contrib/recordings-page.scss */
.section-recordings .views-slideshow-pager-fields {
  position: relative;
  left: 525px;
  top: 81px;
  width: 100px;
  max-width: 100%;
  z-index: 3;
}
/* line 23, ../../sass/user_contrib/recordings-page.scss */
.section-recordings .views-slideshow-cycle-main-frame {
  display: block;
  width: 600px;
  max-width: 100% !important;
  position: relative;
  top: -193px;
  left: 0px;
}
/* line 32, ../../sass/user_contrib/recordings-page.scss */
.section-recordings .views-slideshow-cycle-main-frame-row {
  max-width: 100% !important;
}
/* line 36, ../../sass/user_contrib/recordings-page.scss */
.section-recordings .views-slideshow-cycle-main-frame-row img {
  margin-right: 5px;
  max-width: 100%;
}
/* line 42, ../../sass/user_contrib/recordings-page.scss */
.section-recordings .views-slideshow-cycle-main-frame img {
  border: 1px solid #808080;
}
/* line 46, ../../sass/user_contrib/recordings-page.scss */
.section-recordings p.cd-slideshow-tekst {
  position: relative;
  top: 0em;
  width: 520px;
  max-width: 100%;
}
/* line 53, ../../sass/user_contrib/recordings-page.scss */
.section-recordings .cd-title-background-transparent {
  position: relative;
  top: 5px;
  left: 0px;
  background-color: black;
  height: 29px;
  opacity: 0.4;
  width: 515px;
  max-width: 99%;
  z-index: 3;
}
/* line 65, ../../sass/user_contrib/recordings-page.scss */
.section-recordings .cd-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.35em;
  color: white;
  font-weight: normal;
  position: relative;
  top: -21px;
  left: 30px;
  width: 400px;
  max-width: 100%;
  z-index: 4;
}
/* line 78, ../../sass/user_contrib/recordings-page.scss */
.section-recordings .cd-link {
  position: relative;
  top: 0em;
  color: green;
  font-size: 1.7em;
}
/* line 85, ../../sass/user_contrib/recordings-page.scss */
.section-recordings .cd-link a:hover {
  color: black;
}
/* line 89, ../../sass/user_contrib/recordings-page.scss */
.section-recordings .views-field-field-cd-link a {
  display: block;
  max-width: 510px;
  font-style: italic;
  color: black;
}
/* line 96, ../../sass/user_contrib/recordings-page.scss */
.section-recordings .block-views-cd-slideshow-block {
  position: relative;
  top: 0px;
  max-width: 100%;
}
@media (max-width: 992px) {
  /* line 103, ../../sass/user_contrib/recordings-page.scss */
  .section-recordings .views-slideshow-pager-fields {
    position: relative;
    left: 0px;
    top: 370px;
    width: 500px;
    z-index: 1000;
  }
  /* line 110, ../../sass/user_contrib/recordings-page.scss */
  .section-recordings .views-slideshow-pager-fields .views_slideshow_pager_field_item {
    display: inline-block;
  }
  /* line 115, ../../sass/user_contrib/recordings-page.scss */
  .section-recordings .views-slideshow-cycle-main-frame {
    top: 0;
  }
  /* line 119, ../../sass/user_contrib/recordings-page.scss */
  .section-recordings p.cd-slideshow-tekst {
    padding-top: 60px;
  }
}
@media (max-width: 550px) {
  /* line 126, ../../sass/user_contrib/recordings-page.scss */
  .section-recordings .views-slideshow-cycle-main-frame-row-item img {
    width: 48%;
  }
  /* line 131, ../../sass/user_contrib/recordings-page.scss */
  .section-recordings .views-slideshow-pager-fields {
    top: 335px;
  }
}
@media (max-width: 463px) {
  /* line 138, ../../sass/user_contrib/recordings-page.scss */
  .section-recordings .views-slideshow-cycle-main-frame-row-item img {
    width: 46%;
  }
  /* line 143, ../../sass/user_contrib/recordings-page.scss */
  .section-recordings .views-slideshow-pager-fields {
    top: 277px;
  }
}
