/**
 * @file
 * Block Styling
 */


.block { /* Block wrapper */
  margin-bottom: 1.5em;
}

.block.first { /* The first block in the region */
}

.block.last { /* The last block in the region */
}

.block.odd { /* Zebra striping for each block in the region */
}

.block.even { /* Zebra striping for each block in the region */
}

#block-block-9, #block-block-10 {
position: relative;
top: -30.7em;
left: 4em;
width: 11.3em;
}

#main-menu-transparent {
    position: relative;
    top: -1.65em;
    width: auto/* 59.5em */;
    margin-right: -20px; /* fill out whole area, move if problems in iPad */
	background-color: #000;
    height: 25px;
    left: -0.6em; /* -1.1em; */
    opacity: 0.4;
    z-index: -10;
    }
    
#sidebar-menu-transparent {
    position: relative;
    top: 6.1em;
    width: 200px;
	background-color: #000;
    height: 320px;
    left: 2.9em;
    opacity: 0.4;
    z-index: -10;
    border: 1px solid;
	border-radius: 7px;
    }

#block-menu-title {
	position: relative;
	top: -14.5em;
	left: 4.8em;
	width: 10em;
	opacity: 0.2;
}


#block-aggregator-category-1 { /* Block for the latest news items in the first category */
}

#block-aggregator-feed-1 { /* Block for the latest news items in the first feed */
}

#block-block-1 { /* First block created with "Add block" link */
}

#block-blog-recent { /* "Recent blog posts" block */
}

#block-book-navigation { /* "Book navigation" block for the current book's table of contents */
}

#block-comment-recent { /* "Recent comments" block */
}

#block-forum-active { /* "Active forum topics" block */
}

#block-forum-new { /* "New forum topics" block */
}

#block-locale-language {
	border: medium none;
	display: block;
	position: absolute;
	top: -0.5em;
	right: 0;
	width: auto;
	margin-bottom: 0em;
	}

#block-locale-language ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	line-height: 1em;
	}
	
#block-locale-language ul li {
	font-size: 70%;
	font-weight: 100;

	border-left: 1px solid grey;
	float: left;
	padding-left: 0.5em;
	padding-right: 0.5em;
	}

#block-locale-language a {
	color: green;
	text-decoration: none;
	font-variant: normal;
	letter-spacing: normal;
	} 
	
#block-locale-language a:visited {
	color: green;
	text-decoration: none;
	}

#block-locale-language a:hover {
	text-decoration: underline;
	}



#block-menu-menu-NAME { /* Custom menu block */
}

#block-menu-elements {
	position: relative;
	top: -31.0em;
	left: 4.5em;
	width: 11em;
}

#block-node-recent { /* "Recent content" block */
}

#block-node-syndicate { /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

#block-poll-recent { /* "Most recent poll" block */
}

#block-profile-author-information { /* "Author information" block for the profile of the page's author */
}

#block-search-form { /* "Search form" block */
}

#block-shortcut-shortcuts { /* "Shortcuts" block */
}

#block-statistics-popular { /* "Popular content" block */
}

#block-system-main-menu { /* "Main menu" block */
}

#block-system-management { /* "Management" block for Drupal management menu */
}

#block-system-navigation { /* "Navigation" block for Drupal navigation menu */
}

#block-system-user-menu { /* "User menu" block for Drupal user menu */
}

#block-system-help { /* "System help" block */
}

#block-system-main { /* "Main page content" block */
}

#block-system-powered-by { /* "Powered by Drupal" block */
}

#block-user-login { /* "User login form" block */
}

#block-user-new { /* "Who's new" block for a list of the newest users */
}

#block-user-online { /* "Who's online" block for a list of the online users */
}

.view-favicon-gallery {
	position: relative;
	top: 5px;
	float: left;
	left: 2em;
	height: 40px;
	width: 15em; /* Prevent favicon block from breaking */
	}

	
.view-favicon-gallery .views-row {
	display: inline-block;
	float: left;
	}
	

/* Subscription form block */

#subscription-block {
	border: 0px solid grey;
	padding: 15px;
	position: relative;
	top: -479px;
	left: 48px;
	width: 170px;
	padding-bottom: 0px;
	margin-bottom: 20px;
	}	

#subscription-text p {
	position: relative;
	top: -1em;
	font-family: 'EB Garamond';
	font-style: normal;
	font-weight: normal;
	}
	
#subscription-text p#subscription-header {
	font-family: "de-walpergens-pica", serif;
    font-style: normal;
	font-size: 1.5em;
	}

#subscription-text p#sign-up {
	font-size: 97%;
	line-height: 1.3em;
	color: grey;
	position: relative;
	top: -3.5em;
	width: 12.0em;
	}

#subscription-form {
    position: relative;
    top: -3.8em;
    left: 0em;
    width: 180px;
    }
    
 #subscription-form input{
	font-size: 70%;
	background-color: #909090;
	color: white;
	margin-bottom: 0.3em;
    }
    
select#country {
	font-size: 70%;
	}
	
label#label-select {
	position: relative;
	top: -1.8em;
	left: 2em;
	font-family: 'EB Garamond';
    font-style: normal;
    font-size: 85%;
	font-weight: normal;
	width: 11.5em;
	}

input#name {
	position: relative;
	top: 0em;
	left: 0em;
	width: 160px;
	height: 1.8em;
	}
	
	
input#jhtjmt-jhtjmt, input#dtjdlk-dtjdlk  {
	position: relative;
	top: 0em;
	left: 0em;
	width: 160px;
	height: 1.8em;
	}	
	
select#country {
	position: relative;
	top: 0em;
	left: 0em;
	background-color: #909090;
	color: white;
	height: 2.2em;
	font-size: 0.7em;
	max-width: 170px;
	}
	
p#for-organizers-text {
	position: relative;
	top: 1em;
	width: 170px;
	font-family: "de-walpergens-pica", serif;
	font-size: 1.5em;
	}
	
p#stay-updated {
	font-size: 97%;
	line-height: 1.3em;
	color: grey;
	position: relative;
	top: -0.5em;
	width: 12.5em;
	}
	
div#check-box {
	position: relative;
	top: -1.4em;
	left: 0em;
	width: 170px;
	}
	
	
input#submit-form {
	font-size: 1.2em;
	padding: 5px 10px 5px 10px;
	position: relative;
	left: 1.6em;
	top: 0.3em;
	background-color: green;
	border: 2px solid;
	border-radius: 10px;
	}
	
#block-views-favicon-gallery-block {
/*	position: static; */
	}

#block-system-powered-by {
	font-size: 0.9em;
	font-family: josefin-sans, san-serif;
}
