/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
  background: url("../images/roseton.png") no-repeat fixed 175px 100px transparent;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: normal;
}

body {
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-o-font-smoothing: antialiased;
background-color: transparent; 
/*
-webkit-font-smoothing: subpixel-antialiased;
-moz-font-smoothing: subpixel-antialiased;
-o-font-smoothing: subpixel-antialiased;
*/
}

#page {
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;
}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */

#header {
}

#logo { /* Wrapping link for logo */
  float: left; /* LTR */
  margin: 0;
  padding: 5px;
  position: relative;
  top: 1.4em;
  left: -3.1em;
}

#logo img {
  vertical-align: bottom;
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 1.4em;
  left: -2.5em;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2.9em;
  letter-spacing: 0.1em;
line-height: 1.5em;
} 

#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan { /* The slogan (or tagline) of a website */
  font-family: Josefin Sans, sans-serif;
  font-weight: lighter;
  position: relative;
  top: -.4em;
  margin: 0;
  font-size: 1.5em;
  color: grey;
  line-height: 1.9em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */

#main {
}

/*
 * Content
 */

#content {
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h3 {
	font-family: 'Italiana', sans-serif;
	font-style: normal;
	font-weight: normal;
	}
	
h1#page-title {
font-size: 2.0em; /* 2.5 */
letter-spacing: 0.1em; /*3.0 */ 
color: #A62F00;
opacity: 0.5;
position: relative;
top: -0.85em;
}


h2 {
font-family: 'Josefin Sans', sans-serif;
margin-bottom: 0em;
font-weight: 500;
color: #808080;
font-size: 2.1em;
}

h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

h2.block-title {
font-style: normal;
font-weight: bold;
font-size: 3.8em;
letter-spacing: 0.1em;
line-height: 1.5em;
color: green;
width: 2.75em;
}

p {
margin-top: 0em;
font-family: 'EB Garamond', serif;
font-style: normal;
font-weight: 400;
}

p.text-header {
font-family: "de-walpergens-pica-n4","de-walpergens-pica",serif;
font-style: normal;
font-weight: 400;
font-size: 1.3em;
}

p#second-sidebar-menu {
position: relative;
top: -0.3em;
font-family: "de-walpergens-pica-n4","de-walpergens-pica",serif;
font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 1.2em;
line-height: 2em;  
}

p#second-sidebar-menu a {
	color: white;
	}
	
#subscription-text p#subscription-header {
font-family: "de-walpergens-pica-n4","de-walpergens-pica",serif;
font-style: normal;
font-weight: 400;
font-size: 1.5em;
}

#subscription-text p#sign-up {
font-size: 97%;
line-height: 1.3em;
color: grey;
}

.collapsible a.fieldset-title {
font-family: "de-walpergens-pica-n4","de-walpergens-pica",serif;
font-style: normal;
font-weight: 400;
font-size: 1.3em;
color: #808080;
}

#collapse-text-background {
position: absolute;
background-color: #808080;
opacity: 0.2;
height: 95%;
width: 659px;
}

#collapse-text-text {
position: relative;
z-index: 5;
padding: 1.5em;
padding-top: 2em;
}

p#via-artis-link {
position: relative;
top: -3.1em;
font-family: 'Josefin Sans';
font-size: 1.1em;
}

p#via-artis-link a {
	color: green
	}

.media-soundcloud-outer-wrapper {
margin-bottom: 20px;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0; /* LTR */
}

span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
.item-list .pager li { /* Each page number in the pager list */
  padding: 0 0.5em;
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/*
 * Footer
 */

#footer {
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}







