/* Arrange elements in Favicon gallery */


.view-favicon-gallery .views-row {
	float: left;
	max-width: 25%;
}



/* Add a 40px padding to left side of 2. sidebar */
.region-sidebar-second {
	padding-left: 40px;
	}
	
/* Align Header and Site-slogan in the center */
.header__name-and-slogan {
	padding-left: 40px;
    }
    
.header__name-and-slogan #site-slogan {
	text-align: center;
}

/* Move the logo outside of the frame */
.header__logo {
	margin-left: -40px;
	}
	
/* Align elements in credit block, Footer */

div.fond-logo {
	float: left;
	margin-right: 40px;
	margin-bottom: 20px;
	}

/* Corrections for mobile phones */
	
@media all and (max-width: 640px) { 
	.header__name-and-slogan {
		padding-left: 0;
		float: none;
		margin-left: auto;
		margin-right: auto;
		}
	h1#site-name {
		text-align: center;
		}
		
	.header__logo {
	position: relative;
	left: 35px;
	}
	
	p#cv-photo-guide {
	left: 160px;
	}
	
	h1#page-title {
	font-size: 1.1em;
	letter-spacing: 0.10em;
		} 
  }