<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Zen Grids: sample usage</title>
  <link rel="stylesheet" href="stylesheets/styles.css" media="all">
</head>
<body>

<p id="skip-link">
<a href="#main-menu">Jump to main menu</a>
</p>

<header id="header">
  <h1>Zen Grids: sample usage</h1>
</header>

<div id="main">

  <article id="content" role="main">
    <header>
      <h1>Main content</h1>
      <p>Source order: 1</p>
    </header>
    <aside>‰¥ùThere‰¥ús no such thing!‰¥ú</aside>
    <p>Alice did not quite know what to say to this: so she helped herself to some tea and bread-and-butter, and then turned to the Dormouse, and repeated her question. ‰¥ùWhy did they live at the bottom of a well?‰¥ú</p>
    <p>The Dormouse again took a minute or two to think about it, and then said, ‰¥ùIt was a treacle-well.‰¥ú</p>
    <p>‰¥ùThere‰¥ús no such thing!‰¥ú Alice was beginning very angrily, but the Hatter and the March Hare went ‰¥ùSh! sh!‰¥ú and the Dormouse sulkily remarked, ‰¥ùIf you can‰¥út be civil, you‰¥úd better finish the story for yourself.‰¥ú</p>
    <p>‰¥ùNo, please go on!‰¥ú Alice said very humbly; ‰¥ùI won‰¥út interrupt again. I dare say there may be ONE.‰¥ú</p>
  </article>

  <nav id="main-menu" role="navigation">
    <header>
      <h2>Menu</h2>
      <p>Source order: 2</p>
    </header>
    <a href="#">Alice</a> ‰ù·
    <a href="#">Mad Hatter</a> ‰ù·
    <a href="#">The Queen</a> ‰ù·
    <a href="#">Tom Petty</a>
  </nav>

  <aside id="aside1">
    <header>
      <h2>Aside</h2>
      <p>Source order: 3</p>
    </header>
    <p>‰¥ùHave some wine,‰¥ú the March Hare said in an encouraging tone.</p>
  </aside>

  <aside id="aside2">
    <header>
      <h2>Aside</h2>
      <p>Source order: 4</p>
    </header>
    <p>‰¥ùPlease would you tell me,‰¥ú said Alice, a little timidly, for she was not quite sure whether it was good manners for her to speak first, ‰¥ùwhy your cat grins like that?‰¥ú</p>
    <p>‰¥ùIt‰¥ús a Cheshire cat,‰¥ú said the Duchess, ‰¥ùand that‰¥ús why. Pig!‰¥ú</p>
  </aside>

</div>

<footer id="footer">
  <small>å© 2012. The small print.</small>
</footer>

</body>
</html>
